@import '../base/settings';

.button {
  background-color: $bright-blue;
  border: none;
  color: $base-white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: $s-height;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: $grey;
}
