@import '../base/settings';

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: $dark-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-page {
  background-color: $dark-blue;
  display: block;
  padding: 2rem;
  height: auto;
  width: 100%;
  bottom: 0;
}

.bottom-page__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.bottom-page__link {
  align-items: center;
  color: $base-white;
  justify-content: space-between;
  text-decoration: none;
}

.bottom-page__copyright {
  color: red;
  font-size: $font-size-tiny;
  font-style: normal;
  font-weight: 300;
  line-height: $s-height;
  margin-bottom: $m-size;
  margin-right: auto;
  margin-left: auto;
}