@import '../base/settings';

.text-input {
  border: 0.1rem solid $cloud-white;
  height: 3.18rem;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  @extend .text-input;
  padding: 0;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}