@import '../base/settings';

.page {
  background: none;
}

.page__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.page__title {
  color: $grey;
  text-decoration: none;
  p {
    margin-bottom: $s-size;
  }
}