@import '../base/settings';

.terms {
  color: $grey;
  font-size: $font-size-smaller;
  font-style: normal;
  font-weight: 300;
  margin-bottom: $s-size;
}

.terms__title {
  color: $dark-grey;
  font-size: $font-size-medium;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0;
}

.terms__header {
  color: $dark-grey;
  font-size: $font-size-large;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0;
}